<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="WEBSITES_TO_CHECK" value="http://www.google.com,google; 
                                          http://www.cnn.com,why she;"/>
    <add key="DRIVES_TO_CHECK_FOR_SPACE" value="C:\"/>

    <add key="DIRECTORIES_TO_GET_COUNTS" value="C:\Windows"/>

    <add key="NOTIFICATION_EMAIL" value=""/>
    <add key="SMTP_ADDRESS" value=""/>

    <add key="SYSTEMS" value="JobChecks"/>
  </appSettings>
</configuration>
